<div id="clickMe" onclick="toggleMenu()">
  <div class="hamburger"></div>
  <div class="hamburger"></div>
  <div class="hamburger"></div>
</div>
<div class="sidebar" id="sidebar">
  <ul class="list-sidebar">
    <li><a href=''>A</a></li>
    <li><a href=''>A</a></li>
    <li><a href=''>B</a></li>
    <li><a href=''>B</a></li>
    <li><a href=''>B</a></li>
  </ul>
</div>
